<div class="author-box">
    {% if site.avatar_source == "github" and site.github_username %}
        {% capture avatar_image %}
            https://github.com/{{ site.github_username }}.png
        {% endcapture %}
    {% elsif site.plugins contains "liquid-md5" %}
        {% capture avatar_image %}
            https://gravatar.com/avatar/{{ site.email | downcase | md5 }}?s=256
        {% endcapture %}
    {% endif %}
    {% if avatar_image %}
        <img src="{{ avatar_image }}" class="author-avatar" />
    {% endif %}
{{ site.description }}
</div>
