<div class="toggleWrapper">
    <input type="checkbox" class="dn" id="theme-toggle" onclick="modeSwitcher()"/>
    <label for="theme-toggle" class="toggle">
    <span class="toggle__handler">
      <span class="crater crater--1"></span>
      <span class="crater crater--2"></span>
      <span class="crater crater--3"></span>
    </span>
        <span class="star star--1"></span>
        <span class="star star--2"></span>
        <span class="star star--3"></span>
        <span class="star star--4"></span>
        <span class="star star--5"></span>
        <span class="star star--6"></span>
    </label>
</div>
<script type="text/javascript">
const theme = localStorage.getItem('theme');
if (theme === "dark") {
	document.documentElement.setAttribute('data-theme', 'dark');
}
const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

if (theme === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
    document.documentElement.classList.add('theme--dark');
    document.documentElement.classList.remove('theme--light');
	document.getElementById("theme-toggle").className = 'light';
} else if (theme === "light") {
    document.documentElement.setAttribute('data-theme', 'light');
    document.documentElement.classList.add('theme--light');
    document.documentElement.classList.remove('theme--dark');
	document.getElementById("theme-toggle").className = 'dark';
} else if  (userPrefers === "dark") {
    document.documentElement.setAttribute('data-theme', 'dark');
	document.documentElement.classList.add('theme--dark');
    document.documentElement.classList.remove('theme--light');
	window.localStorage.setItem('theme', 'dark');
	document.getElementById("theme-toggle").className = 'light';
} else {
    document.documentElement.setAttribute('data-theme', 'light');
	document.documentElement.classList.add('theme--light');
    document.documentElement.classList.remove('theme--dark');
	window.localStorage.setItem('theme', 'light');
	document.getElementById("theme-toggle").className = 'dark';
}

function modeSwitcher() {
	let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
	    document.documentElement.setAttribute('data-theme', 'light');
		document.documentElement.classList.add('theme--light');
        document.documentElement.classList.remove('theme--dark');
		window.localStorage.setItem('theme', 'light');
	    document.getElementById("theme-toggle").className = 'dark';
	} else {
	    document.documentElement.setAttribute('data-theme', 'dark');
		document.documentElement.classList.add('theme--dark');
        document.documentElement.classList.remove('theme--light');
		window.localStorage.setItem('theme', 'dark');
	    document.getElementById("theme-toggle").className = 'light';
	}
}
</script>