.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;

  .blinking_cursor {
    animation: blinker 1s none infinite;
    font-size: $base-font-size;
  }

  .command_prompt {
    color: $color-blue;
    font-size: $base-font-size;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited,
  &:hover {
    color: $color-foreground;
    text-decoration: none;
  }
}

.wrapper {
  text-align: justify;
}

/**
 * Author box
 */

 .author-box {
   margin-bottom: 1em;
   text-align: left;
   min-height: 72px;
   font-style: italic;
   & > .author-avatar {
     float: left;
     white-space: pre-line;
     margin-right: 1em;
     width: 72px;
     height: 72px;
   }
 }

.site-header {
  margin-bottom: 1em;
}


.post-title {
    color: $color-foreground;
}

.post {
  .post-date {
    margin-top: 0.5em;
    color: $color-foreground-dark;
  }
}

.post-link-wrapper {
   margin-bottom: 1.5em;
   & > .post-link {
     font-size: $base-font-size;
     font-size: $post-link-font-size;
   }

   & > .post-meta {
     color: $color-foreground-dark;
     font-size: $small-font-size;
   }
 }

.tag {
  color: $color-green;
  background-color: $color-background-dark;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  &:hover {
    text-decoration: none;
    color: lighten($color-green, 20%);
    background-color: lighten($color-background-dark, 5%);
  }
}

.post-tags {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.credits {
  font-size: 10px;
  color: lighten($color-background-dark, 5%);

  & > a {
    color: lighten($color-background-dark, 10%);
    text-decoration: underline;
  }
}

.pagination {
  font-size: $post-link-font-size;
  margin: 2em 0;
  & > a, & > span {
    font-weight: normal;
    display: inline-block;
    min-width: 1em;

    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

  & > a {
    color: $color-green;
    background-color: $color-background-dark;
    &:hover {
      color: lighten($color-green, 20%);
      background-color: lighten($color-background-dark, 5%);
    }
  }

  & > span {
    color: darken($color-foreground, 20%);
    background-color: darken($color-background-dark, 3%);
  }
}

.social_links {
  float: right;
  & > a {
    color: darken($color-foreground, 20%);
    display: inline-block;
    margin-left: 0.2em;
    font-size: $post-link-font-size * 1.25;
  }
}
