---
layout: default
---
{% include author.html %}
<h1 class="post-title">articles tagged with <a class="tag" href="/tag/{{ page.tag }}/">{{ page.tag }}</a></h1>
  <div class="post-links">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}


      <div class="post-link-wrapper">
        <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
        <div class="post-meta">

          <div class="post-tags">
              {% for tag in post.tags %}
              <a class="tag" href="/tag/{{ tag }}/">{{ tag }}</a>
              {% endfor %}
          </div>
          {% if site.date_format %}
            {{ post.date | date: site.date_format }}
          {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
          {% endif %}
        </div>

        </div>
  {% endif %}
  {% endfor %}
  {% endfor %}

  </div>
  {% include tagcloud.html %}
